body {
    height: 100%;
    width:100%;
    background-color: white;
}


.about2 {
background: url(art.jpg) no-repeat center;


}




.container {
	width: 100%;
	
	background-size: cover;
	font-size: 20px;
	font-family: 'Noto Serif', serif;;
}