.nav{

	z-index: +1;

}

.cont {
	
	font-family: 'Noto Serif', serif;;
}




@font-face {
font-family: 'Capture it';
font-style: normal;
font-weight: normal;
src: local('Capture it'), url('Capture_it.woff') format('woff');
}


.sega {

	font-family: 'Capture it';


}